<div class="online-users-possition">
    <input matInput class="search-box-online" placeholder="Search online Users"  (input)="filterOnlineUsers($event)">
    <mat-icon color="primary" style="font-size: 24px; vertical-align: middle;">search</mat-icon>
    <mat-list>
        <mat-list-item *ngFor="let user of onlineFilteredUsers$ |async"
            (click)="this.messageService.conversationIdSelectedClickHandler(user.id)">
          
            <div class="user-data-fonts"
                [ngClass]="{'selectedConversation': (selectedConversation | async) === user.id && (isDirectMessage | async)}">
               
                <span *ngIf="(privateConversationId$ | async) === user.id">
                    <mat-icon  style="font-size: 24px; vertical-align: middle;">record_voice_over</mat-icon></span> {{ user.firstName }}
                {{ user.lastName }} 
                <mat-icon *ngIf="privateNotification[user.id]" style="font-size: 24px; vertical-align: middle;" color="primary">message</mat-icon>
            </div>
        </mat-list-item>
    </mat-list>
</div>