<div class="original-container">
    
    <div class="left-container">
        <app-user-info></app-user-info>

        <div class="sub-container-online-users" style="flex: 4;">
            <app-online-users></app-online-users>
            <app-offline-users></app-offline-users>
        </div>

        <div class="sub-container-channels" style="flex: 5;">
            <app-public-channels></app-public-channels>
        </div>

    </div>

    <div class="right-container">
        
        <div class="chat-container">

            <div class="chat-name">currently writing to:<strong>{{writingTo | async}}</strong>
                <app-chat-header></app-chat-header>
            </div>
            
            <div class="chat-body" #chatBodyContainer>
                <app-chat-body></app-chat-body>
            </div>

            <div class="chat-commands">
                <app-chat-commands></app-chat-commands>
            </div>

        </div>
    </div>
</div>